[user]
	email = tim.fanselow@gmail.com
	name = tim-fan
[push]
	default = simple
[alias]
	st = status
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
